{% extends "base.html" %}
{% block content %}
<div class="text-center">
  <h2 class="fw-bold mb-3">Our Vision 🌱</h2>
  <p class="lead">Our goal is to empower local milkmen and dairy sellers by giving them a digital platform where they can connect directly with customers.
     We aim to ensure every household gets pure, fresh, and affordable dairy products, while supporting the livelihoods of local milk suppliers. 
     Our vision is to build trust, promote freshness, and make the dairy supply chain simple,</p>
</div>
{% endblock %}
